@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{padding: 0;margin: 0;font-family: 'Poppins', sans-serif}
.container{height:100vh;display:flex;justify-content:center;align-items:center;background-color:#eee}
.card{width:350px;height:470px;background-color:#fff;box-shadow:0px 15px 30px rgba(0,0,0,0.1);border-radius:10px;overflow:hidden;margin-left:10%}
.card .info{padding:15px;display:flex;justify-content:space-between;border-bottom:1px solid #e1dede;background-color:#e5e5e5}
.card .info button{height:30px;width:80px;border:none;color:#fff;border-radius:4px;background-color:#000;cursor:pointer;text-transform:uppercase}
.card .forms{padding:15px}
.card .inputs{display:flex;flex-direction:column;margin-bottom:10px}
.card .inputs span{font-size:12px}
.card .inputs input{height:40px;padding:0px 10px;font-size:17px;box-shadow:none;outline:none}
.card .inputs input[readonly]{background-color: rgb(252, 252, 252);}
.card .inputs input{background-color: rgb(155, 119, 119);}

.card3{width:350px;height:470px;background-color:#fff;box-shadow:0px 15px 30px rgba(0,0,0,0.1);border-radius:10px;overflow:hidden;margin-left:10%}
.card3 .info{padding:15px;display:flex;justify-content:space-between;border-bottom:1px solid #e1dede;background-color:#e5e5e5}
.card3 .info button{height:30px;width:80px;border:none;color:#fff;border-radius:4px;background-color:#000;cursor:pointer;text-transform:uppercase}
.card3 .forms{padding:15px}
.card3 .inputs{display:flex;flex-direction:column;margin-bottom:10px}
.card3 .inputs span{font-size:12px}
.card3 .inputs input{height:40px;padding:0px 10px;font-size:17px;box-shadow:none;outline:none}
.card3 .inputs input[readonly]{background-color: rgb(252, 252, 252);}
.card3 .inputs input{background-color: rgb(155, 119, 119);}

#uploadPageBackButton{
    position: absolute;
    margin: 13% 4% 4% 8%;
}